.homeContent {
  height: 100vh;
  width: 100vw;
  background-color: #242422;
}

@media screen and (max-width: 500px) {
  .homeContent {
    height: 100vh;
    width: 100vw;
    background-color: #242422;
  }
  .homeContent::-webkit-scrollbar {
    display: none;
  }
}
.homeContent::-webkit-scrollbar {
  display: none;
}
