.registrationPage {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive, sans;
}

.signup_container {
  width: 300px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 /20%), 0px 3px 4px 0px rgb(0 0 0/14%),
    0px, 1px, 8px, 0px rgb(0 0 0/12%);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3bb19b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h1 {
  margin-top: 0;
  color: #242424;
  font-size: 35px;
  align-self: center;
}
.heading {
  font-size: 25px;
}
.right {
  flex: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
  color: #fff;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin: 5px 5px;
  font-size: 20px;
  margin-left: 10px;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn {
  background-color: #3bb19b;
  color: white;
  margin: 10px;
}
@media screen and (max-width: 993px) {
  .input {
    width: 270px;
    font-size: 18px;
  }
}

@media screen and (max-width: 760px) {
  .input {
    width: 170px;
    font-size: 12px;
  }
  .green_btn {
    width: 100px;
  }
  .white_btn {
    width: 100px;
  }
  .signup_container {
    width: 200px;
  }
  .form_container h1 {
    font-size: 30px;
  }
  .right {
    /* flex:1 */
    width: 400px;
  }
  .left h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 490px) {
  .input {
    width: 150px;
    font-size: 12px;
    padding: 10px;
  }
  .green_btn {
    width: 100px;
    padding: 5px 10px;
  }
  .white_btn {
    width: 100px;
    font-size: 10px;
    padding: 8px 10px;
  }
  .signup_container {
    width: 150px;
  }
  .form_container h1 {
    font-size: 16px;
  }
  .right {
    /* flex:1 */
    width: 400px;
  }
  .left h1 {
    font-size: 14px;
  }
  .left{
    width:170px;
  }
}
