.homeContainer{
    display: flex;
    height: 80vh;
    width:100vw;
}

.content{
    height:100%;
    width:40vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content_container{
    width: 50vw;
    height:100%;
    display: flex;
    flex-direction: column;   
    align-items:center;
    justify-content: center;
}
.imag{
   height:550px;
    width:550px;
}
.card{
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(90deg, rgba(165,215, 232, 0.42)0% , rgba(255,255,255,0)100%);
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    background-size: 0 100%;
    height: 300px;
}

.card:hover{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.mainHead{
   margin-left: 45px;
}

.listItem{
    padding: 5px;
    font-size: 20px;
}